@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Fasthand&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;1,100&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Fasthand&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;1,100&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap");
@font-face {
    font-family:myFont ;
    src: url(VirgilRegular.otf);
}
* {
  margin: 0px;
  padding: 0px;
}
.root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#canvas{
    /* background-color: yellow !important; */
}
.navbar{
    width: 100vw;
    position: absolute !important;
    top: 0px;
    z-index: 10;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.footer-div{
    width: 100vw;
    padding: 10px;
    background-color: transparent;
    position: absolute !important;
    bottom: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-div{
    width: 100vw;
    height: 75vh;
    overflow-y: scroll !important;
}
.tool-btns > input{
    display: none;
}
.tool-btns input:checked + .tool-btn{
    background-color: #5b57d1;
    color: blue;
    border-radius: 10px;
}
.tool-btn, .lock-tool{
   padding: 10px;
   margin-inline: 2px;

}
.button-div{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.button-div:hover{
    background-color:#ebebeb ;
}
::-webkit-scrollbar{
    display: none;
}
.tools{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin-inline: 2px;
    padding: 15px !important;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #ebebeb;
}
.right-btns{
    display: flex;
    align-items: center;
}
.tools input[type="radio"], .tools input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    height: 1em;
    width: 1em;
}
button:hover{
    background-color: #ebebeb !important;
}
.live-colab-btn{
    background-color: #5b57d1 !important;
}
.live-colab-btn:hover{
    background-color: #4a47b1 !important;
}
.tools label:hover{
    cursor: pointer;
    background-color: #ebebeb;
    border-radius: 10px;
}
/* .tools label:checked{
    cursor: pointer;
    background-color: blue;
} */

.tools label {
    display: inline-block;
    background-color: transparent;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.button-div>button{
    border: none !important;
}
.logo>img{
    height: 100px;
}

.zoom-btns, .undo-redo-btns{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #d6d6d6 !important;
}
.more-btn{
    border: none !important;
}
button{
    border: 1px solid #d6d6d6 !important;
    background-color: transparent !important;
    border: none;
    /* color: black !important; */
}
.zoom-out-btn, .undo{
    background-color: transparent;
    border: none !important;
    border-right: 1px solid #d6d6d6 !important;
    border-radius: 0px !important;
}
.zoom-in-btn, .redo{
    background-color: transparent;
    border: none !important;
    border-left: 1px solid #d6d6d6 !important;
    border-radius: 0px !important;
}
.reset-btn{
    border: none !important;
    /* border-radius: 0px !important; */
}

.footer-830px{
    display: none;
}
@media screen and (max-width:830px) {
    .left-btns{
        display: none !important;
    }
    .right-btns{
        display: none !important
    }
    .navbar{
        margin-left: 20px;
        justify-content: center !important;
    }
    .footer-div{
        display: none;
    }
    .footer-830px{
        bottom: 90px;
        height: 50px;
        width: 100vw;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px !important;
        border-radius: 15px;
        box-shadow: 0px 0px 15px #ebebeb;
    }
    .undo, .redo, .menu-btn{
        border: none !important;
    }
}